.container-fluid {
  margin: 0 auto;
}

.form-container {
  margin-top: 50px;
  padding: 20px 30px;
  max-width: 100%;
  min-width: 40%;
  width: 500px;
  height: auto;
  background-color: rgb(57, 15, 97);
  border: solid 3px rgb(255, 221, 0);
  border-radius: 15px;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
.small {
  font-size: 12px;
}

input {
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  margin: 10px;
  font-size: 20px;
  color: blanchedalmond;
  background-color: rgb(130, 23, 231);
  padding: 10px 30px;
  border: solid 3px rgb(255, 221, 0);
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  color: rgb(255, 221, 0);
  background-color: rgb(57, 15, 97);
}

button:disabled {
  cursor: not-allowed;
  background-color: #cccccc; /* Barva pro neaktivní tlačítko */
  color: #666666;
  border-color: #aaaaaa;
}

button:disabled:hover {
  background-color: #cccccc; /* Stejná barva, aby hover nefungoval */
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 10px;
}
