<div class="container-fluid">
  <div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div formGroupName="formData">
        <h2>Registrace</h2>
        <div class="row mt-4">
          <div class="col-sm-6">
            <label for="firstName">Jméno:</label>
            <div>
              <input
                id="firstName"
                formControlName="firstName"
                type="text"
                class="form-control"
                title="zadejte své jméno"
                placeholder="Marie"
                autocomplete="on"
              />
              <div
                *ngIf="
                  myForm.get('formData.firstName')?.invalid &&
                  (myForm.get('formData.firstName')?.dirty ||
                    myForm.get('formData.firstName')?.touched)
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="myForm.get('formData.firstName')?.hasError('required')"
                  >Jméno je povinné.</small
                >
                <small
                  *ngIf="
                    myForm.get('formData.firstName')?.hasError('minlength')
                  "
                >
                  Jméno musí mít alespoň 3 znaky.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="lastName">Příjmení:</label>
            <div>
              <input
                id="lastName"
                formControlName="lastName"
                type="text"
                class="form-control"
                title="zadejte své příjmení"
                placeholder="Nováková"
                autocomplete="on"
              />
              <div
                *ngIf="
                  myForm.get('formData.lastName')?.invalid &&
                  (myForm.get('formData.lastName')?.dirty ||
                    myForm.get('formData.lastName')?.touched)
                "
                class="text-danger form-text"
              >
                <small
                  *ngIf="myForm.get('formData.lastName')?.hasError('required')"
                >
                  Příjmení je povinné.
                </small>
                <small
                  *ngIf="myForm.get('formData.lastName')?.hasError('minlength')"
                >
                  Příjmení musí mít alespoň 3 znaky.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm">
            <label for="email">Email:</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
              title="zadejte svůj email"
              placeholder="marie@email.com"
              autocomplete="email"
            />
            <div
              *ngIf="
                myForm.get('formData.email')?.invalid &&
                (myForm.get('formData.email')?.dirty ||
                  myForm.get('formData.email')?.touched)
              "
              class="text-danger form-text"
            >
              <small *ngIf="myForm.get('formData.email')?.hasError('required')">
                Emailová adresa je povinná.
              </small>
              <small
                *ngIf="myForm.get('formData.email')?.hasError('minlength')"
              >
                Email musí mít alespoň 10 znaků.
              </small>
            </div>
          </div>
          <div class="col-sm">
            <label for="password">Heslo:</label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
              title="zadejte heslo"
              placeholder="heslo123456"
              autocomplete="current-password"
            />
            <div
              *ngIf="
                myForm.get('formData.password')?.invalid &&
                (myForm.get('formData.password')?.dirty ||
                  myForm.get('formData.password')?.touched)
              "
              class="text-danger form-text"
            >
              <small
                *ngIf="myForm.get('formData.password')?.hasError('required')"
              >
                Heslo je povinné.
              </small>
              <small
                *ngIf="myForm.get('formData.password')?.hasError('minlength')"
              >
                Heslo musí mít alespoň 10 znaků.
              </small>
            </div>

            <div class="col-sm">
              <label for="confirmPassword">Opakovat heslo:</label>
              <input
                id="confirmPassword"
                formControlName="confirmPassword"
                type="password"
                class="form-control"
                placeholder="Zadejte znovu heslo"
              />
              <div
                *ngIf="
                  formData.hasError('passwordMismatch') &&
                  (formData.get('password')?.dirty ||
                    formData.get('password')?.touched)
                "
                class="text-danger form-text"
              >
                <small>Hesla se musí shodovat.</small>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-check">
                <input
                  id="terms"
                  formControlName="terms"
                  type="checkbox"
                  class="form-check-input"
                />
                <div class="col-sm">
                  <label class="form-check-label m-1" for="terms"
                    >Souhlasím se zpracováním
                    <a
                      href="https://www.mvcr.cz/gdpr/clanek/co-je-gdpr.aspx"
                      target="_blank"
                      >osobních údajů</a
                    >.
                  </label>
                  <div
                    *ngIf="
                      myForm.get('formData.terms')?.invalid &&
                      myForm.get('formData.terms')?.touched
                    "
                    class="text-danger"
                  >
                    Musíte souhlasit s podmínkami.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="!myForm.valid">Registrovat</button>
      </div>
    </form>
  </div>
</div>

<!---->
