body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgb(251, 197, 90) 0%,
    rgb(71, 44, 160) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
